{{#partial "content"}}
   <p class="text-center">HERO DOSSIER:</p>
        <div class="card">
            <div class="card-title">
                <p>{{hero.name}}</p>
            </div>
            <div class="card-body">
                <p>Squad:{{squad.name}}</p>
                <p>Hero Nickname:{{hero.nickname}}</p>
                <p>Hero's Age:{{hero.age}}</p>
                <p>Power:{{hero.power}}</p>
                <p>Weakness:{{ hero.weakness }}</p>
                <a href="/squads/{{hero.squadId}}heroes/{{hero.id}}/delete">REMOVE HERO</a>
            </div>
        </div>
{{/partial}}

{{> layout.hbs}}